{% layout "layout.liquid" %} {% block content %}
<br>

<h1> {{ product.name }} </h1><br>
Description: {{product.description}}
<img src="{{ product.img }}" alt="">
Price: {{ product.price }}</br>
Quantity: {{product.qty }}

  
</div>

{% endblock %}